---
const { data, pagination } = Astro.props;

import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import MealCard from "../components/MealCard.astro";
import Section from "../components/Section.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import HeroHeader from "../components/HeroHeader.astro";
import HeroParagraph from "../components/HeroParagraph.astro";

const links = [
    {
        href: "/meals",
        text: "Browse Meals",
    },
];

const mealCards = [
    {
        mealImage: "/images/hero/home_hero_bg.jpg",
        alt: "meal card image",
        mealTitle: "Burger with fries",
        preparationTime: "30-40",
        id: 1,
    },
    {
        mealImage: "/images/hero/home_hero_bg.jpg",
        alt: "meal card image",
        mealTitle: "Burger with fries",
        preparationTime: "30-40",
        id: 2,
    },
    {
        mealImage: "/images/hero/home_hero_bg.jpg",
        alt: "meal card image",
        mealTitle: "Burger with fries",
        preparationTime: "30-40",
        id: 3,
    },
    {
        mealImage: "/images/hero/home_hero_bg.jpg",
        alt: "meal card image",
        mealTitle: "Burger with fries",
        preparationTime: "30-40",
        id: 4,
    },
    {
        mealImage: "/images/hero/home_hero_bg.jpg",
        alt: "meal card image",
        mealTitle: "Burger with fries",
        preparationTime: "30-40",
        id: 5,
    },
    {
        mealImage: "/images/hero/home_hero_bg.jpg",
        alt: "meal card image",
        mealTitle: "Burger with fries",
        preparationTime: "30-40",
        id: 6,
    },
    {
        mealImage: "/images/hero/home_hero_bg.jpg",
        alt: "meal card image",
        mealTitle: "Burger with fries",
        preparationTime: "30-40",
        id: 7,
    },
    {
        mealImage: "/images/hero/home_hero_bg.jpg",
        alt: "meal card image",
        mealTitle: "Burger with fries",
        preparationTime: "30-40",
        id: 8,
    },
];

---

<Layout>
    <Navigation {links} currentPage="/meals" />

    <Hero>
        <HeroHeader> Find your meal </HeroHeader>
        <HeroParagraph
            heroParagraphText="Be inspired by the hundreds of different meal recipes we have to offer from the overview below."
        />
    </Hero>

    <Header>
        <h2 class="secondary-text-color text-center mt-20 text-4xl">Meals</h2>
    </Header>

    <Section
        class="meal-cards flex justify-around w-screen items-center"
        id="meal_cards"
    >
        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12 my-12 px-8"
        >
            {
                mealCards.map((mealCard) => (
                    <a href={`/meals/${mealCard.id}`}>
                        <MealCard
                            mealImage={mealCard.mealImage}
                            alt={mealCard.alt}
                            mealTitle={mealCard.mealTitle}
                            preparationTime={mealCard.preparationTime}
                        />
                    </a>
                ))
            }
        </div>
    </Section>
</Layout>
